var CONFIG = {
    '12345': { // for the request with webhook_id == 12345
        'chatwork_webhook_token' : '......', // the token sent by chatwork webhook
        'chatwork_token'         : '......', // the token to access to your chatwork account
        'dropbox_token'          : '......', // the token of your dropbox application
        'dropbox_arxiv_dir '     : '/path/', // the dir in which the arXiv pdf are saved (must end with '/')
        'spreadsheet_id'         : '......', // the spreadsheet id with your ownership, if you want to connect to it
    },
};
